<!-- display posts dashboard -->
<div class="container" *ngIf='!id'>
    <div class="row">
        <div class="col-sm-4 col-md-3 mb-4 post" *ngFor="let post of posts">
            <a [href]="post?.url | subStrUrl">
                <div class="post-col">
                    <div class="col-sm-12 p-1 img">
                        <img [alt]="post?.images?.length > 0 ? post.images[0].url : 'irobo.jpg'" [src]="post?.images?.length > 0 ? post.images[0].url : 'irobo.jpg'" />
                    </div>
                    <div class="col-sm-12 p-1 txt">
                        <h5 class="bg-robo" [title]="post?.title">{{post?.title}}</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-12 text-center">
            <a href="javascript:void(0)" *ngIf="nextPageToken" (click)="loadMore()" class="badge badge-info">Load More.. .</a>
        </div>
    </div>
</div>

<!-- display single post -->
<div class="container robo-container" *ngIf='id'>
    <div class="row">
        <div class="col-lg-8">
            <h1 class="mt-4">{{post?.title}}</h1>
            <p class="lead">
                by
                <a [href]="post?.author?.url" class="badge badge-info">{{post?.author?.displayName}}</a>
            </p>
            <small class="badge badge-secondary">{{post?.published | dateCustom : 'dd,mmyyhh:mm'}}</small>&nbsp;
            <small class="badge badge-warning">views: {{pageCount}}</small>
            <hr>
            <!-- <div class="robo-lead lead mb-3" [innerHtml]="post?.content"></div> -->
            <div class="robo-lead lead mb-3" id="html-content"></div>
            <hr>
            <div class="card my-4 mt-4">
                <h5 class="card-header">Leave a Comment:</h5>
                <div class="card-body">
                    <disqus [identifier]="id" [url]="host + id"></disqus>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <p class="badge badge-info mt-4 mb-4">Recently Posts</p>
            </div>
            <div class="row" *ngFor="let sidePost of sidePosts">
                <div class="col-4 col-sm-4 p-1 mb-2">
                    <img class="left-img" [alt]="sidePost?.images?.length > 0 ? sidePost.images[0].url : 'irobo.jpg'" [src]="sidePost?.images?.length > 0 ? sidePost.images[0].url : 'irobo.jpg'" />
                </div>
                <div class="col-8 col-sm-8 p-1">
                    <p class="left-title" [title]="sidePost?.title">{{sidePost?.title}}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>