<div class="container bootstrap snippet">
    <button mat-button mat-dialog-close type="button" class="close" style="outline: none;" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    <div class="row search-results">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="well search-result" *ngFor="let post of posts">
                <div class="row">
                    <a [href]="post?.url | subStrUrl">
                        <div class="col-xs-6 col-sm-9 col-md-9 col-lg-10 title">
                            <h5 class="bg-robo" [title]="post?.title">{{post?.title}}</h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>