<div id="main">

    <div class="loader" *ngIf="isLoader">
        <mat-spinner [diameter]="100"></mat-spinner>
    </div>

    <div [ngClass]="{'page-blur': isLoader}">
        <app-side-bar></app-side-bar>
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
            <span class="p-2 mr-2" (click)="openNav()">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                    class="bi bi-distribute-vertical" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1 1.5a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 0-1h-13a.5.5 0 0 0-.5.5zm0 13a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 0-1h-13a.5.5 0 0 0-.5.5z" />
                    <path d="M2 7a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V7z" />
                </svg>
            </span>
            <a class="navbar-brand" href="#"> <img [src]="logo" alt="logo" /></a>
            <app-serach id="nav-search"></app-serach>
        </nav>






































        <router-outlet></router-outlet>
        <footer class="py-5 bg-robo">
            <div class="container">
                <div class="row">
                </div>
                <p class="m-0 text-center app-txt-color">Copyright &copy; iRoboHawk 2021</p>
            </div>
        </footer>
    </div>
</div>