<div id="main">

    <div class="loader" *ngIf="isLoader">
        <mat-spinner [diameter]="100"></mat-spinner>
    </div>

    <div [ngClass]="{'page-blur': isLoader}">
        <app-side-bar></app-side-bar>
        <nav class="nav-header navbar navbar-expand-lg navbar-light bg-light mb-4">
            <span class="sidebar-btn mr-2" (click)="openNav()">
                <div class="menu-ham"></div>
                <div class="menu-ham"></div>
                <div class="menu-ham"></div>
            </span>
            <a class="navbar-brand" href="#"> <img [src]="logo" alt="logo" /></a>
            <app-serach id="nav-search"></app-serach>
        </nav>






































        <router-outlet></router-outlet>
        <footer class="py-5 footer-color">
            <div class="container ">
                <div class="row">
                </div>
                <p class="m-0 text-center ">Copyright &copy; iRoboHawk 2021</p>
            </div>
        </footer>
    </div>
</div>