<div class="loader" *ngIf="isLoader">
    <mat-spinner [diameter]="100"></mat-spinner>
</div>

<div [ngClass]="{'page-blur': isLoader}">

    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
        <a class="navbar-brand" href="#"> <img [src]="logo" alt="logo" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link app-txt-color" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link app-txt-color" href="javascript:void(0)" (click)="openAboutDialog()">About</a>
                </li>
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li> -->
            </ul>
            <form class="form-inline my-2 my-lg-0 app-txt-color">

                <div class="input-group md-form form-sm form-2 pl-0" id="serach-form">
                    <input class="form-control my-0 py-1 red-border rm-outline" type="search" name="search" [(ngModel)]="searchTxt" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="input-group-text red lighten-3 badge-info " type="submit" id="basic-text1" (click)="openSearch()">
                            Search
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </nav>
    <router-outlet></router-outlet>
    <footer class="py-5 bg-robo">
        <div class="container">
            <div class="row">
                <!-- <div class="site-theme">
                    <ng-container *ngFor="let theme of themeColorArr">
                        <span class="theme-color" [ngStyle]="{'background-color': theme.bgColor}" (click)="saveTheme(theme)"> &nbsp; </span>
                    </ng-container>
                </div> -->
            </div>
            <p class="m-0 text-center app-txt-color">Copyright &copy; iRoboHawk 2020</p>
        </div>



        <!-- /.container -->
    </footer>
</div>