/* You can add global styles to this file, and also import other style files */

body {
    background: #ffffff !important;
    font-family: 'Roboto', sans-serif;
}

.bg-robo {
    background: #ffffff;
}

img {
    max-width: 100% !important;
}

.robo-lead h1 {
    font-size: 1.3rem !important;
}

.robo-lead img {
    margin: 12px 0px;
}

a.navbar-brand img {
    width: 82px;
}

a.navbar-brand svg {
    width: 82px;
    height: 59px;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

div b {
    color: #464646;
    font-weight: 600 !important;
}

pre {
    overflow-y: scroll !important;
    margin-bottom: 1em;
    padding: 12px 8px;
    width: auto;
    max-height: 400px;
    overflow: auto;
    font-size: 13px;
    background-color: #eaeaea;
    border-radius: 3px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: #eaeaea;
}

::-webkit-scrollbar-track {
    background: #e8e7e7;
}

::-webkit-scrollbar-thumb {
    background: #3b3b3b7d;
}

::-webkit-scrollbar-thumb:hover {
    background: #2525257d;
}

pre::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: #00000000;
}

pre::-webkit-scrollbar-track {
    background: #00000000;
}

pre::-webkit-scrollbar-thumb {
    background: #bbbbbb7d;
}

pre::-webkit-scrollbar-thumb:hover {
    background: #bbbbbbad;
}

a.nav-link.text-black {
    color: black !important;
}

.app-txt-color {
    color: #007b8b !important;
}

.app-bg-color {
    background-color: #007b8b !important;
}

.rm-outline {
    outline: none !important;
    box-shadow: none !important;
}

p.left-title {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    font-size: 13px;
    -webkit-box-orient: vertical;
}

img.left-img {
    height: 49px;
    width: 100%;
}

button.btn.my-2.my-sm-0.app-txt-color {
    border: 1px solid;
}

.hidediv {
    display: none !important;
}

.error-border {
    border: 1px solid red;
    border-radius: 4px;
}

iframe {
    width: 100% !important;
    min-height: 300px !important;
    height: auto !important;
}